
<link href="custom.css" rel="stylesheet" />

<select data-testid="year-one" @bind="selectedYearOne">
    @foreach (var year in years)
    {
        <option value="@year">@year</option>
    }
</select>

<select data-testid="year-two" @bind="selectedYearTwo">
    @foreach (var year in years)
    {
        <option value="@year">@year</option>
    }
</select>

<p>Valda år: @selectedYearOne och @selectedYearTwo</p>
<button data-testid="fetch-button" class="custom-button" @onclick="FetchTwoYears">Hämta data</button>


@code {
    private List<int> years = new List<int> { 2016, 2017, 2018, 2019, 2020, 2021 };
    private int selectedYearOne;
    private int selectedYearTwo;

    [Parameter]
    public EventCallback<(int, int)> OnTwoYearsSelected { get; set; }

    private async Task FetchTwoYears()
    {
        await OnTwoYearsSelected.InvokeAsync((selectedYearOne, selectedYearTwo));
    }
}
