@rendermode InteractiveServer

@page "/CompareTwoRegionsOutputView"
@using KraftKollen.Components.Components
@using KraftKollen.Helpers.Interfaces
@using KraftKollen.Models
@using KraftKollen.Repository
@using KraftKollen.Repository.Models
@inject IApiService ApiService
@inject IYearComparisonIndicator yearComparisonIndicator

<h3>CompareTwoRegionsOutputView</h3>

<GetTwoYearsComponent OnTwoYearsSelected="GetYears" />

<div class="container">
    @if (_firstYearLargestValue != null)
    {
        <div>
            <h3>@_firstYearLargestValue.Year</h3>
            <p>@_firstYearLargestValue.Name: @_firstYearLargestValue.Value MWh</p>
        </div>
    }

    @* TODO: These are not null since they are initialized as new() *@
    @if (_firstYearLargestValue != null && _secondYearLargestValue != null)
    {
        var arrow = yearComparisonIndicator.GetYearComparisonIndicator(_firstYearLargestValue.Value, _secondYearLargestValue.Value);

        switch (arrow)
        {
            case "Left":
                <h3 class="alert-danger"> &larr; </h3>
                break;

            case "Equal":
                <h3 class="alert-info"> &equals; </h3>
                break;
            case "Right":
                <h3 class="alert-success"> &rarr; </h3>
                break;
            default:
                <h3> Could not validate data </h3>
                break;
        }
    }

    @if (_secondYearLargestValue?.Value != null)
    {
        <div>
            <h3>@_secondYearLargestValue.Year</h3>
            <p>@_secondYearLargestValue.Name: @_secondYearLargestValue.Value MWh</p>
        </div>
    }
</div>

@code {
    private List<Region> regions = AllRegions.GetAllRegions();

    private RegionWithValue _firstYearLargestValue;
    private RegionWithValue _secondYearLargestValue;

    private async Task GetYears((int, int) selectedTwoYears)
    {
        var firstYear = selectedTwoYears.Item1.ToString();
        var secondYear = selectedTwoYears.Item2.ToString();


        _firstYearLargestValue = await GetLargestValue(firstYear);
        _secondYearLargestValue = await GetLargestValue(secondYear);
    }

    private async Task<RegionWithValue> GetLargestValue(string year)
    {
        RegionWithValue currentLargestValue = new() { Year = year, Value = 0 };

        foreach (var region in regions)
        {
            currentLargestValue = await UpdateLargestWindPowerValue(currentLargestValue, region.Id);
        }

        return currentLargestValue;
    }

    private async Task<RegionWithValue> UpdateLargestWindPowerValue(RegionWithValue regionWithLargestValue, string id)
    {
        var zeroAsString = "0";
        var year = regionWithLargestValue.Year;
        var previousValue = regionWithLargestValue.Value;
        RegionWithValue updatedRegion = new();


        if (regionWithLargestValue.Year != zeroAsString)
        {
            var result = await FetchWindPowerData(id, year);
            if (result.Value > previousValue && result.Value != null)
            {
                updatedRegion = new()
                {
                    Value = result.Value,
                    Year = regionWithLargestValue.Year,
                    Id = id,
                    Name = regions.FirstOrDefault(n => n.Id == id)?.Name ?? "Could not get name"
                };
            }
        }

        if (updatedRegion.Value != null && updatedRegion.Value > regionWithLargestValue.Value)
        {
            return updatedRegion;
        }
        else
        {
            return regionWithLargestValue;
        }

    }

    private bool CheckIfValid(string region, string year)
    {
        if (string.IsNullOrEmpty(region) || string.IsNullOrEmpty(year))
        {
            return false;
        }

        return true;
    }

    private async Task<WindPowerProduction> FetchWindPowerData(string region, string year)
    {
        var result = CheckIfValid(region, year);
        if (!result)
        {
            return new();
        }

        try
        {
            return await ApiService.GetWindPowerProduction(region, year);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
            return new();
        }
    }

    
}


<style>
    .container {
        display: flex;
        gap: 16px; /* Adds space between the divs */
    }

        .container > div {
            border: 1px solid #ccc; /* Optional: Add a border for visual distinction */
            padding: 8px;
            flex: 1; /* Optional: Make the divs equal in width */
        }
</style>
