@rendermode InteractiveServer
@page "/TrendAnalys"
@using KraftKollen.Helpers.Interfaces
@using KraftKollen.Models
@using KraftKollen.Repository
@using KraftKollen.Repository.Models
@inject IApiService apiService
@inject ITrendCalculator trendCalculator

<h3>Trendanalys för Vindkraft</h3>

<div>
    <label for="region">Välj region:</label>
    <select id="region" @bind="selectedRegionId">
        @foreach (var region in regions)
        {
            <option value="@region.Id">@region.Name</option>
        }
    </select>

    <label for="yearRange">Välj år:</label>
    <select id="startYear" @bind="startYear">
        @foreach (var year in availableYears)
        {
            <option value="@year">@year</option>
        }
    </select>
    <select id="endYear" @bind="endYear">
        @foreach (var year in availableYears.Where(year => year >= startYear))
        {
            <option value="@year">@year</option>
        }
    </select>

    <button @onclick="LoadData">Ladda Data</button>
</div>

<div>
    @if (trendData != null)
    {
        <h4>Trend: @(trendResult)</h4>
        <ul>
            @foreach (var value in trendData)
            {
                <li>År: @value.Period, Värde: @string.Join(", ", value.Value) Mw/h</li>

            }
        </ul>
    }
    else
    {
        <p>Ingen data att visa</p>
    }
</div>

@code {
    private List<Region> regions = AllRegions.GetAllRegions();
    private string selectedRegionId = "0001"; // Default till Stockholm
    private List<int> availableYears = Enumerable.Range(2000, DateTime.Now.Year - 1999).ToList();
    private int startYear = 2020;
    private int endYear = 2023;
    private List<WindPowerProduction> trendData = new List<WindPowerProduction>();
    private string trendResult;

    private async Task LoadData()
    {
        trendData.Clear();

        if(startYear == endYear)
        {
            trendResult = "Startyear och endyear kan inte vara samma, kan inte hitta trend.";
            return;
        }
        try
        {

            for (int year = startYear; year <= endYear; year++)
            {
                var data = await apiService.GetWindPowerProduction(selectedRegionId, year.ToString());

                if (data.Value != null)
                {
                    trendData.Add(data);
                }

            }

            // Kontrollera om vi fick någon data
            if (trendData.Any())
            {
                trendResult = trendCalculator.CalculateTrend(trendData);
            }
            else
            {
                trendResult = "No data found.";
            }
        }
        catch (Exception ex)
        {
            trendResult = $"Error: {ex.Message}";
        }

    }



}
